<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.iu.home.board.BoardMapper">

<select id="getFileDetail" parameterType="BoardFileVO" resultType="BoardFileVO">
SELECT * FROM BOARDFILE WHERE FILENUM = #{fileNum}
</select>

<insert id="setAddFile" parameterType="BoardFileVO">
INSERT INTO BOARDFILE
VALUES (null, #{num}, #{fileName}, #{oriName})
</insert>

<insert id="setAdd" parameterType="BoardVO" useGeneratedKeys="true" keyProperty="num">
INSERT INTO BOARD VALUES (null, #{writer}, #{title}, #{contents}, 0, sysdate())
</insert>

<select id="getDetail" parameterType="BoardVO" resultMap="getDetailResult">
SELECT * 
FROM BOARD B
LEFT JOIN BOARDFILE BF
ON B.NUM = BF.NUM
WHERE B.NUM = #{num}
</select>

<resultMap type="BoardVO" id="getDetailResult">
	<id column="NUM" property="num"/>
	<result column="WRITER" property="writer"/>
	<result column="TITLE" property="title"/>
	<result column="CONTENTS" property="contents"/>
	<result column="HIT" property="hit"/>
	<result column="REGDATE" property="regDate"/>
	<collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
		<id column="FILENUM" property="fileNum"/>
		<result column="FILENAME" property="fileName"/>
		<result column="ORINAME" property="oriName"/>
	</collection>
</resultMap>

<select id="getList" parameterType="Pager" resultType="BoardVO">
SELECT * FROM BOARD
WHERE 
<choose>
	<when test="kind == 'title'">TITLE</when>
	<when test="kind == 'contents'">CONTENTS</when>
	<otherwise>WRITER</otherwise>
</choose>
LIKE CONCAT('%', #{search}, '%')
ORDER BY NUM DESC
LIMIT #{startRow}, #{perPage}
</select>

<select id="getCount" parameterType="Pager" resultType="Long">
SELECT COUNT(NUM) FROM BOARD
WHERE 
<choose>
	<when test="kind == 'title'">TITLE</when>
	<when test="kind == 'contents'">CONTENTS</when>
	<otherwise>WRITER</otherwise>
</choose>
LIKE CONCAT('%', #{search}, '%')
ORDER BY NUM DESC
</select>
	
</mapper>